{% extends 'layout.html' %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-3">
            <div class="text-white m-3 p-3" style="background: url('./static/images/nav_side_sub.jpg') no-repeat; background-size: cover;">
                <h2>CONTACT US</h2>
                <hr class="border border-white">
                <p>Direction/Parking</p>
                <p>Career Opportunities</p>
                <img src="{{ url_for( 'static', filename='images/content-navlink-news.jpg') }}" alt="news-img" class="img-fluid mb-2 mt-2">
                <h4 class="h6">News and Events</h4>
                <p>Join our magnificent film and do more stuff with us.</p>
            </div>
        </div>
        <div class="col-6">
            <img class="img-fluid contact-image mb-5 mt-3" src="{{ url_for( 'static', filename='images/content-05-contact.jpg') }}" alt="conatact-image">
            <p>The office hours are 8am - 5pm Monday through Friday</p>
            <p>
                <span>689 East South Street</span>
                <br>
                <span>Suite 4210</span>
                <br>
                <span>Houston, Texas 09324</span>
            </p>
            <p>PH: 555.555.5555</p>
            <p>FAX: 555.555.5555</p>
            <p>Contact Rosemary Sage at <a href="#">rosemary@lawfirm.com</a></p>
        </div>
        <div class="col-3">
            <div class="m-3 p-3" style="background: url('/contact-images/other_links_background.jpg') no-repeat; background-size: cover;">
                <img class="img-fluid" src="{{ url_for( 'static', filename='images/content-link-where.jpg') }}" alt="">
                <h4 class="h6">Where We Work</h4>
                <p>Find out more about our work coverage area</p>
                <img src="{{ url_for( 'static', filename='images/content-link-reputation.jpg') }}" alt="reputaion-img" class="img-fluid">
                <h4 class="h6">News and Events</h4>
                <p>Join our magnificient firm and do more stuff with us.</p>

            </div>
        </div>
    </div>

{% endblock content %}